@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

/*****************************/

@include pictos-iconmask('info');
@include pictos-iconmask('lock_open');
@include pictos-iconmask('lock_closed');

@include sencha-button-ui('info_btn', #ffffff, 'flat');

.x-button {
  &.x-button-info_btn, &.x-button-info_btn-round, &.x-button-info_btn-small  {
    .x-button-icon.x-icon-mask {
      -webkit-mask-size: .76em;
      width: .76em;
      height: .76em;
    }
  } 
}

.face-selected {
    //@include single-box-shadow(black, 1px, 1px, 0.1); 
    //-webkit-box-shadow: 1px 1px 15px 8px rgba(0, 0, 0, 0.2);
    //box-shadow: 1px 1px 15px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
    //-webkit-transform: scale(1.2);
}

/**************************************************************/
/* CAS SLIDER                                                 */
/**************************************************************/
/*@import '../global';*/

/**
 * Includes default form slider styles.
 *
 * @member Ext.field.Slider
 */

@mixin sencha-cas-sliders {

  .x-slider-field {
    .x-component-outer {
      padding: $form-spacing;
    }
  }

  .x-slider {
      position: relative;
      height: 3cm;
      min-height: 0;
      min-width: 0;
      //background-image: url(../images/cas_bg.png);
      width: 12.2cm;
      background-size: 10cm 3cm;
      background-repeat: no-repeat;
      background-position-x: 1cm;

    > * {
        position: absolute;
        width: 100%;
        height: 100%;
    }
  }

  .x-slider.x-item-disabled {
    opacity: .6;
  }

    .x-thumb {
      position: relative;
      height: 4cm;
      width: 2.5cm;
      top: -0.5cm;
      
      //visibility: hidden;
      background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        //color-stop(0.05, rgba(76,149,175,0.1)),
        color-stop(0.05, rgba(76,149,175,0.2)),
        color-stop(0.95, rgba(76,149,175,0.1))
        //color-stop(0.95, rgba(183,185,52,0.9))
    );

      // The actual thumb
      &:before {
        width: 2px;
        height: 4cm;
        margin-top: -3px;
        margin-left: 1.15cm;
      }

      &.x-dragging {
        opacity: 1;
      }
    }

    // Create the slider track
    .x-slider:after {
      @include insertion(auto, $form-slider-size, $form-toggle-size / 2 - $form-slider-size/2 + $form-spacing/2 - $form-thumb-space / 2, 0);

      right: 0;
      margin: 0 $form-toggle-size/2;
      visibility: hidden;
      
      //@include background-gradient($form-light, 'recessed');
      border: .1em solid rgba(#000, .1);
      border-bottom: 0;
      -webkit-box-shadow: rgba(#fff,.7) 0 .1em 0;
      @include border-radius($form-slider-size/2);
    }
  
}

.sencha-cas-slider {
  @include sencha-cas-sliders;
  
  .x-slider {
      background-image: url(../images/cas_bg.png);
  }
  
}

.sencha-vas-slider {
  @include sencha-cas-sliders;
  
  .x-slider {
      background-image: url(../images/vas_bg.png);
  }

}