@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

/*****************************/


@include pictos-iconmask('info');
@include pictos-iconmask('lock_open');
@include pictos-iconmask('lock_closed');

@include sencha-button-ui('info_btn', #ffffff, 'flat');

.x-button {
  &.x-button-info_btn, &.x-button-info_btn-round, &.x-button-info_btn-small  {
    .x-button-icon.x-icon-mask {
      -webkit-mask-size: .76em;
      width: .76em;
      height: .76em;
    }
  } 
}

.face-selected {
    //@include single-box-shadow(black, 1px, 1px, 0.1); 
    //-webkit-box-shadow: 1px 1px 15px 8px rgba(0, 0, 0, 0.2);
    //box-shadow: 1px 1px 15px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
    //-webkit-transform: scale(1.2);
}

